{
  "parser": "babel-eslint",
  "extends": "eslint-config-airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "semi": [2, "never"],
    "comma-dangle": [2, "never"],
    "no-shadow": 0,
    "react/prefer-stateless-function": 0
  },
  "plugins": [
    "import",
    "babel",
    "react"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack/config.node.js"
      }
    }
  }
}
